{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "semi": [1, "never"],
    "object-curly-newline": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0
  }
}