* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: black;
  font-display: swap;
}

body,
button {
  font-family: 'Source Sans Pro', sans-serif;
}