:root {
  --pad-height: 60%;
  --action-height: 3rem;
  --radius: 4px;
}

.project {
  position: relative;
  height: 40rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--pad-height);
  background-size: cover;
  background-position: 50% 50%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--action-height);
  border-radius: var(--radius);
  overflow: auto;
}

.pad {
  height: var(--pad-height);
}

.sheild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--pad-height);
  z-index: 10;
}

.info {
  position: absolute;
  padding: 1.5rem;
  line-height: 1.5;
  background: white;
  padding-bottom: calc(var(--action-height) * 2);
  min-height: calc(100% - var(--pad-height));
  cursor: ns-resize;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--action-height);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: white;
  display: flex;
  align-items: center;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  z-index: 1000;
}

.actions::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: calc(var(--action-height) * 0.5);
  background: linear-gradient(to top, white 50%, rgba(255, 255, 255, 0));
}

.actions > span {
  flex-basis: 50%;
  font-size: 0.875rem;
  text-align: center;
}

.actions > span:last-child {
  border-left: 2px solid #f2f2f2;
}

.name {
  margin: 0;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  letter-spacing: 1px;
}

.titleBold {
  composes: title;
  font-weight: bold;
}

.tags {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -0.25rem;
  display: flex;
}