.project {
  width: 100%;
  max-width: 70rem;
  min-height: 32rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  background: white;
  display: flex;
}

.image > a {
  width: 100%;
  height: 100%;
}

.name {
  font-size: 3rem;
  color: black;
  margin: 0;
  word-break: break-word;
}

.title {
  font-weight: normal;
}

.titleBold {
  font-weight: bold;
}

.markdown {
  margin-top: 2rem;
  font-size: 0.875rem;
}

.elmo .project {
  justify-content: space-between;
}

.elmo .image {
  flex-basis: 40%;
  flex-shrink: 0;
  order: 2;
}

.elmo .content {
  order: 1;
  flex-basis: auto;
  flex-shrink: 1;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bigbird .project {
  flex-direction: column;
  padding-left: 7rem;
  padding-right: 7rem;
}

.bigbird .image {
  height: 26rem;
}

.bigbird .content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.bigbird .name {
  padding-top: 0.5rem;
}