.reset {
  z-index: 3;
  font-size: 1rem;
  color: var(--yellow-text);
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;

  &:hover {
    background: black;
  }
}
