@import "../variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  mix-blend-mode: color-dodge;
  font-family: Bangers;
  font-size: 10rem;
  color: var(--purple-text);
  text-shadow: 4px 4px 2px var(--yellow-text);
  letter-spacing: 0.25rem;
  animation-name: status;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
}

.text {
  width: 80vw;
  max-width: 30rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.reset {
  z-index: 3;
  font-size: 1rem;
  color: var(--yellow-text);
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  outline: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes status {
  from {
    transform: scale(0) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(1080deg);
  }
}